extends ../layout
block content
    #content
        if session.user
                .alert.alert-success(role="alert") Bonjour : #{session.user.civility} #{session.user.lastname} #{session.user.firstname}
        section
            .div-box-accueil
                .container-fluid.px-5px
                .row-img.mx-0.mb-3
                    .size-img-accueil.col-lg-4.mb-10px.px-5px
                        .card.border-0.text-white.text-center
                            img.card-img(src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/christopher-campbell-28571-unsplash.jpg" alt="Card image")
                            .card-img-overlay.d-flex.align-items-center
                                .w-100.py-3
                                    h2.display-3.font-weight-bold.mb-4 Top picks
                                    a.btn.btn-light(href="category.html") Shop now
                    .size-img-accueil.col-lg-4.mb-10px.px-5px
                        .card.border-0.text-white.text-center
                            img.card-img(src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/marco-xu-496929-unsplash.jpg" alt="Card image")
                            .card-img-overlay.d-flex.align-items-center
                                .w-100.py-3
                                    h2.display-3.font-weight-bold.mb-4 New arrivals
                                    a.btn.btn-light(href="category.html") Shop now
                .row.mx-0
                    .size-img-accueil.col-lg-4.mb-10px.px-5px
                        .card.border-0.text-center.text-white
                            img.card-img(src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/malvestida-magazine-458585-unsplash.jpg" alt="Card image")
                            .card-img-overlay.d-flex.align-items-center
                                .w-100
                                    h2.display-4.mb-4 Lookbook
                                    a.btn.btn-link.text-white(href="category.html")
                                        | Shop now
                                        i.fa-arrow-right.fa.ml-2
                    .size-img-accueil.col-lg-4.mb-10px.px-5px
                        .card.border-0.text-center.text-dark
                            img.card-img(src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/michael-frattaroli-221247-unsplash.jpg" alt="Card image")
                            .card-img-overlay.d-flex.align-items-center
                                .w-100
                                    h2.display-4.mb-4 Try this
                                    a.btn.btn-link.text-dark(href="category.html")
                                        | Shop now
                                        i.fa-arrow-right.fa.ml-2
                    .size-img-accueil.col-lg-4.mb-10px.px-5px
                        .card.border-0.text-white.text-center
                            img.card-img(src="https://d19m59y37dris4.cloudfront.net/sell/1-3/img/photo/benjamin-voros-260869-unsplash.jpg" alt="Card image")
                            .card-img-overlay.d-flex.align-items-center
                                .w-100
                                    h2.display-4.mb-4 Jackets
                                    a.btn.btn-link.text-white(href="category.html")
                                        | Shop now
                                        i.fa-arrow-right.fa.ml-2