body{
    background-image: url("../image/commerce.jpg");
}
h1{
    background-color: #171717;
    color: white;
    text-align: center;
}
.div-box-accueil{
    background-color: rgba(0, 0, 0, 0.32);
    padding: 1em;
    height: 90vh;
}
.row-img{
    display: flex;
}
.size-img-accueil{
    width: 30%;
}
h3{
    box-shadow: 0 2px 6px white;
    background-color: rgba(23, 23, 23, 0.51);
    border-radius: 0.5em 0 0.5em;
    width: max-content;
    padding: 0.2em;
    display: inline-block;
}
form{
    color: white;
    padding: 1em;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 9px 20px white;
}
small{
    background-color: rgba(23, 23, 23, 0.39);
    color: #9bd168;
    padding: 0.2em;
}
.form-group, .form-group-center{
    margin-top: 1em;
}
.form-group-center{
    text-align: center;
}
ul{
    background-color: rgba(0, 0, 0, 0.81);
    width: 70%;
    margin: 0 auto;
}
ul li a {
    color: white;
}
ul li a:hover {
    color: cadetblue;
}


